

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Annual Capex
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Business Plan</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Approval of projects, approval of additional funds when overrun of approved project cost is 10% or 2.0M$
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">>$150 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> >$40 <=$150 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> >$10 <=$40 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> >$2.0 M & <= $10 M <br /> (for IT projects: >$1.5 M & <= $10 M>)</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> >$1 M & <= $2.0 M <br /> (for IT projects: >$1 M & <= $1.5 M>)</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> >$0.5M & <=$1 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> <=$0.5 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"> Fixed Assets upto <= 0.1M</a>
        <hr />
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Budget redistribution between projects
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">Redistribution within allocated budget (normative capex)</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">Redistribution within allocated budget (strategic capex)</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">Additional fund due to KZT overruns in foreign currency contracts</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">Additional due to USD savings in KZT contracts</a>
        <hr />
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Approval of additional funds in the approved project within total approved cost +10%, when the change cost is
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">> $2.0 M </br> (for IT projects: > $1.5M)</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">> $1M & <= $2.0M </br> (for IT projects: > $1 M & <= $1.5M))</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">>= $0.5M & <= $1 M</a>
        <hr />
        <a class="dropdown-item" asp-controller="Home" asp-action="Table">>$0.1 M & <= $0.5M</a>
        <hr />
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Approval of additional funds in the approved project within total approved cost +10%, when the change cost is
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-controller="Home" asp-action="Table"></a>
    </div>
</div>