

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Annual Capex
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Business Plan</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Approval of projects, approval of additional funds when overrun of approved project cost is 10% or 2.0M$
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
        <a class="dropdown-item" href="#">>$150 M</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Budget redistribution between projects
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Business Plan</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Annual Capex
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Business Plan</a>
    </div>
</div>