

<table class="table">
    <thead>
        <tr>
            <th scope="col">Management</th>
            <th scope="col">Approval</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Corporate/Group BOD</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">CEO Office</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">IAC</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">IAC</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">pre IAC</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">ACIS Segment Coordination</th>
            <td>C</td>
        </tr>
        <tr>
            <th scope="row">CEO Mining Segment (for Mining only)</th>
            <td>C</td>
        </tr>
        <tr>
            <th scope="row">Segment CEO</th>
            <td>N</td>
        </tr>
        <tr>
            <th scope="row">Segment CFO</th>
            <td>N</td>
        </tr>
        <tr>
            <th scope="row">Local BOD</th>
            <td>N</td>
        </tr>
        <tr>
            <th scope="row">CEO</th>
            <td>FA</td>
        </tr>
        <tr>
            <th scope="row">CFO</th>
            <td>PA</td>
        </tr>
        <tr>
            <th scope="row">Director of Coal Department </br> (for Coal Department only)</th>
            <td>PA</td>
        </tr>
        <tr>
            <th scope="row">Director of production of the Coal division</th>
            <td>PA</td>
        </tr>
    </tbody>
</table>